nav {
    background: black;

}

#collapsibleNavbar {
    justify-content: end;
}

#indexpage {
    background: url('../img/TruMusic\ background.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#aboutpage1 {
    background: rgb(191, 143, 236);
}

.footer {
    background: #152F4F;
    color: white;
}

#pricingpage {
    background: rgb(233, 232, 232);
}

.mysection {
    background-color: green;
    height: 250px;
}

