body {
    font-family: 'Source Sans Pro', sans-serif;
}


nav {
    background-color: black;
    font-family: 'Patua One', cursive;
}



#collapsibleNavbar {
    justify-content: end;
}

#indexpage {
    background: url('../img/TruMusic\ background.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#aboutpage1 {
    background-color: rgb(191, 143, 236);
}

.footer {
    background-color: #152F4F;
    color: white;
    font-family: 'Patua One', cursive;
}

#pricingpage {
    background-color: rgb(233, 232, 232);
}

.mysection {
    background-color: green;
    height: 250px;
}

#contactpage1 {
    background-color: rgb(175, 210, 219);
}

h4 {
    background-color: #5cb85c;
    color:white !important;
    text-align: center;
    font-size: 30px;
  }


