nav {
    background: black;

}

#collapsibleNavbar {
    justify-content: end;
}

#indexpage {
    background: url('../img/TruMusic\ background.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#aboutpage1 {
    background: blueviolet;
}

.footer {
    background: #152F4F;
    color: white;
}

#pricingpage {
    background: green;
}
